<?xml version="1.0" encoding="UTF-8"?>
		 <beans xmlns="http://www.springframework.org/schema/beans"
		        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		        xmlns:context="http://www.springframework.org/schema/context"
		        xmlns:aop="http://www.springframework.org/schema/aop"
		        xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
	<context:component-scan base-package="com.test_aop.aspect"/>

	<!-- AOP方式2：使用切面方式配置 -->
	<aop:config>
		 <aop:aspect ref="aspectTest">
			 <aop:pointcut id="test" expression="execution(* com.test_aop.aspect.TestPoint.test())"/>
			 <aop:before method="doBefore" pointcut-ref="test"/>
			 <aop:after-returning method="doAfter" pointcut-ref="test"/>
		 </aop:aspect>
	 </aop:config>

	<!-- 总体来讲：
	 1、通知器是一个特殊的切面。
	 2、通知器需要实现advice接口，而切面不需要。
	 3、通知器这种方式不够灵活，除了事务使用它，其它基本没有使用。
 	-->

</beans>